/* styles for index and all app inside */


  body {
    font-family: 'Cabin-Regular';
  }

  @font-face {
    font-family: 'Cabin-Regular';
    src: url('./fonts/Cabin-Bold.otf');
  }

  @font-face {
    font-family: 'Cabin-Italic';
    src: url('./fonts/Cabin-Italic.otf');
  }


.image_check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_check img {
    width: 30px;
    margin-right: 0px;
    height: 30px;
}

.header-cursive {
    font-family: 'Cabin-Italic';
    font-size: 30px;
    color: black;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
